[submodule "API-VI-Front-end"]
	path = API-VI-Front-end
	url = https://github.com/DriftOps/API-VI-Front-end
[submodule "API-VI-Back-end"]
	path = API-VI-Back-end
	url = https://github.com/DriftOps/API-VI-Back-end


