[submodule "API-V-front-end"]
	path = API-V-front-end
	url = https://github.com/DriftOps/API-VI-Front-end
[submodule "API-V-back-end"]
	path = API-V-back-end
	url = https://github.com/DriftOps/API-VI-Back-end


